* {
  --purple: rgb(76, 32, 76);
}
.review-form {
  display: flex;
  justify-content: space-around;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
  background: linear-gradient(to right, #9fcefb, #47e1ab);
  box-shadow: 0px 0px 8px rgba(131, 183, 255, 0.65);
}
header {
  margin-left: 33px;
  background: linear-gradient(to right, #9fcefb, #47e1ab);
  font-size: 500;
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(255, 136, 136, 0.65);
}
h1 {
  padding: 5px;
  margin-left: 5px;
  color: var(--purple);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: red; */
  width: 70%;
}
.form > input {
  padding: 20px;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  height: 2px;
  outline: none;
  border: 1px solid rgba(207, 191, 191, 0.65);
  border-radius: 5px;
}
.left,
.right {
  padding: 50px;
  /* position: relative; */
}
label {
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(53, 37, 99);
}
sup {
  color: red;
}
input[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}
span {
  padding-right: 50px;
  color: rgb(20, 42, 59);
}
.button {
  background-color: rgb(0, 145, 0);
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 2rem;
  color: white;
}
.button:hover {
  transform: scale(1.05);
  transition: transform 350ms ease-in-out;
  background-color: rgb(111, 185, 111);
}

.btn {
  margin-top: 50px;
  margin-bottom: -45px;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
}
/* .c1{
  background-color:white;
  color:green;
  size: inherit;
}
.ico{
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
} */

