.review-form {
  display: flex;
  justify-content: space-around;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
  /* background-color: red; */
  box-shadow: 0px 0px 8px rgba(207, 191, 191, 0.65);
}
header {
  margin-left: 33px;
  /* background-color: red; */
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(207, 191, 191, 0.65);
}
h1 {
  padding: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 70%;
}
.form > input {
  padding: 20px;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  height: 2px;
  outline: none;
  border: 1px solid rgba(207, 191, 191, 0.65);
  border-radius: 5px;
}
.left,
.right {
  padding: 50px;
}
label {
  padding-top: 20px;
  padding-bottom: 20px;
}
sup {
  color: red;
}
/* input[type="radio"] {
  margin-right:50px;
  
 
} */
span{
   padding-right: 50px;
}
